* {
    margin: 0%;
    padding: 0%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*


HEAD 1


*/
h1 {
    /* Text */
    color: rgb(247, 25, 25);
    text-align: center;
    font-style: oblique;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 120px;

    /* Vormgeving aanpassen */
    padding-bottom: 330px;
    height: 260px;

    /* Achtergrond foto van h1 */
    background-position: center;
    background-size:cover;
    background-image: url(https://www.motorsport-total.com/amp/img/2023/230314/319648_raw_21.jpg?ts=1678789641);
}
/*


NAVIGATIE


*/
nav ol {
    /* Flexbox */
    display: flex;

    /* Text */
    text-align: center;

    /* EVENVEEL RUIMTE CREEREN OM DE PAGINA TITELS */
    justify-content: space-evenly; 

    /* Vormgeving aanpassen */
    background-color: rgb(255, 255, 255);
    padding: 25px;
    list-style: none;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
}

nav li a {
    /* Text */
    font-size: 30px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
/* 

ALLES HETZELFDE HOUDEN HIERBOVEN! 

--

DATUMS


*/
.datums {
    /* Text */
    list-style: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    /* Vormgeving aanpassen */
    display: flex;
}

/* BELGIE */
.datums :first-child {

    /* Vormgeving aanpasen */
    background-size:100%;
    background-image: url(https://focusonbelgium.be/sites/default/files/styles/big_article_image/public/drapeau.jpg?itok=BgKnXsoG);
    width: 33%;
    justify-content: left;
    border: 15px solid black;
    padding: 70px;
    text-align: center;
}

/* Oostenrijk */
.datums :nth-child(2) {

    /* Vormgeving aanpasen */
    background-position: 100% 50%; /* Werke niet als ik alleen size deed */
    background-image: url(https://img.freepik.com/premium-vector/waving-flag-austria-waving-austria-flag-abstract-background_172010-431.jpg);
    width: 30%;
    justify-content: center;
    border-top: 15px solid black;
    border-bottom: 15px solid black;
    padding: 70px;
    text-align: center;
}

/* Italie */
.datums :last-child {

    /* Vormgeving aanpasen */
    background-size:100%;
    background-image: url(https://media.s-bol.com/RMV5AO04zLLz/JZzQ8Bv/550x366.jpg);
    width: 33%;
    justify-content: right;
    border: 15px solid black;
    padding: 70px;
    text-align: center;
}
/*


MAIN


*/
.main ul {

    /* Vormgeving aanpassen */
    background-color: rgb(0, 0, 0);
    padding-bottom: 7px;
    border-bottom: 4px solid red;
}
/*


KALENDER


*/
.kalender a {
    /* Text */
    text-decoration: none;
    color: gold;
    text-decoration: dashed black;
    font-size: 20px;

    /* Vormgeving aanpasen */
    background-size: 150%;
    display: flex;
    margin: 28px;
    background-image: url(https://media.autoexpress.co.uk/image/private/s--X-WVjvBW--/f_auto,t_content-image-full-desktop@1/v1677674796/autoexpress/2023/03/F1%20preview%202023.jpg);
    justify-content: space-evenly;
    border: 5px solid red;
}
/* De text rechts van de afbeelding */
.kalender p {

    /* Text */
    font-size: 20px;
    background-color: rgba(0, 0, 69, 0.675);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

    /* Vormgeving aanpassem */
    margin-top: 50px;
    margin-bottom: 320px;
    padding: 7px;
    border: 4px solid red;
}

/* Alleen de text */
.kalender h2 {

    /* Text */
    text-align: center;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    background-color: azure;

    /* Vormgeving aanpasen */
    padding: 30px;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
}

/* Alleen de KALENDER foto */
.kalender img {
    width: 30%;
    margin-left: 0px; 
    border: 5px solid red;
}
/*


GRID


*/
.grid a {
    /* Text */
    text-decoration: none;
    color: gold;
    text-decoration: dashed black;
    font-size: 20px;

    /* Vormgeving aanpasen */
    background-size: 100%;
    display: flex;
    margin: 28px;
    background-image: url(https://cdn.racingnews365.com/_1125x633_crop_center-center_85_none/XPB_1208929_HiRes.jpg?v=1685287920);
    border: 5px solid red;
}

.grid p {
    /* Text */
    font-size: 20px;
    background-color: rgba(0, 0, 69, 0.675);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;    

    /* Vormgeving aanpassem */
    margin-top: 36px;
    margin-bottom: 300px;
    margin-left: 50px;
    padding: 7px;
    border: 4px solid red;
}

/* FORMULE 1 GRID 2024 TEXT */
.grid h2 {
    /* Text */
    text-align: center;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    background-color: azure;

    /* Vormgeving aanpasen */
    padding: 30px;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
    margin-top: -4px;
}

.grid img {

    /* Vormgeving aanpassen */
    width: 50%;
    height: 50%;
    margin: 30px;
    margin-top: 35px;
    border: 10px solid red;
}
/*

PAGINA 1

*/
.main1 ul {
    background-color: black;
    border-top: 4px solid red;
    padding-top: 8px;
    padding-bottom: 8px;
}
/*

Belgie 2023

*/
.b2023 a {
    /* Text */
    text-decoration: none;
    color: gold;
    background-image: url(https://images0.persgroep.net/rcs/SVRGSLHFShxlz_Ww4vPNizw417g/diocontent/220783742/_fill/1579/899/?appId=21791a8992982cd8da851550a453bd7f&quality=0.9);
    background-position: 30% 40%;
    text-decoration: dashed black;
    font-size: 20px;

    /* Vormgeving aanpasen */
    display: flex;
    justify-content: space-evenly;
    border: 5px solid red;
    margin: 28px;
}

.b2023 p {  
    /* Text */
    font-size: 45px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 69, 0.675);
    text-decoration: none;    
    text-align: left;

    /* Vormgeving aanpassem */
    margin-top: 80px;
    margin-bottom: 200px;
    margin-left: 20px;
    padding: 11px;
    border: 4px solid red;
}

.b2023 img {
    width: 35%;
    height: 80%;
    margin-top: 37px;
    border: 5px solid rgb(255, 0, 0);
}
/* 

WINNAARS GP VAN BEGLIE

*/
.winnaars1 h2 {

    /* Text */
    text-align: center;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    background-color: azure;

    /* Vormgeving aanpasen */
    padding: 30px;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
}

.winnaars1 a {
    text-decoration: none;
}

.winnaars1 ul {  
    /* Text */
    font-size: 30px;
    list-style: none;
    color: gold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 69, 0.675);
    text-decoration: none;    
    text-align: left;

    /* Vormgeving aanpassem */
    margin-top: 28px;
    margin-bottom: 200px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 7px;
    border: 4px solid red;
}

.winnaars1 a {
    /* Text */
    text-decoration: none;
    color: gold;
    background-image: url(https://d3cm515ijfiu6w.cloudfront.net/wp-content/uploads/2022/03/22124718/charles-leclerc-max-verstappen-scrap-bahrain-2022-planetf1.jpg);
    background-position: 30% 40%;
    text-decoration: dashed black;
    font-size: 20px;

    /* Vormgeving aanpasen */
    display: flex;
    justify-content: space-evenly;
    border: 5px solid red;
    margin: 28px;
}

.winnaars1 p {  
    /* Text */
    font-size: 45px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 69, 0.675);
    text-decoration: none;    
    text-align: left;

    /* Vormgeving aanpassem */
    margin-top: 80px;
    margin-bottom: 200px;
    margin-left: 20px;
    padding: 11px;
    border: 4px solid red;
}

.winnaars1 img {
    width: 35%;
    height: 80%;
    margin-top: 37px;
    border: 5px solid rgb(255, 0, 0);
}

.informatie1 h3 {

    /* Text */
    text-align: center;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    background-color: azure;

    /* Vormgeving aanpasen */
    padding: 30px;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
}

.informatie1 a {
    /* Text */
    text-decoration: none;
    color: gold;
    background-image: url(https://raceexperience.nl/wp-content/uploads/2020/09/Spa-Francorchamps_overview.jpg);
    background-position: 50% 40%;
    text-decoration: dashed black;
    font-size: 20px;

    /* Vormgeving aanpasen */
    display: flex;
    justify-content: space-evenly;
    border: 5px solid red;
    margin: 28px;
}

.informatie1 p {  
    /* Text */
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 69, 0.675);
    text-decoration: none;    
    text-align: left;

    /* Vormgeving aanpassem */
    margin-top: 35px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 7px;
    border: 4px solid red;
}
/*

PAGINA 2

*/
.main2 ul{
    background-color: black;
    border-top: 4px solid red;
    padding-top: 8px;
    padding-bottom: 8px;
}
/*

Oostenrijk 2023

*/
.o2023 a {
    /* Text */
    text-decoration: none;
    color: gold;
    background-image: url(https://static.elcomercio.es/www/multimedia/202303/03/media/fernando-alonso-bahrein.jpg);
    background-size: 130%;
    text-decoration: dashed black;
    font-size: 20px;

    /* Vormgeving aanpasen */
    display: flex;
    justify-content: space-evenly;
    border: 5px solid red;
    margin: 28px;
}

.o2023 p {  
    /* Text */
    font-size: 45px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 69, 0.675);
    text-decoration: none;    
    text-align: left;

    /* Vormgeving aanpassem */
    margin-top: 80px;
    margin-bottom: 200px;
    margin-left: 20px;
    padding: 11px;
    border: 4px solid red;
}

.o2023 img {
    width: 35%;
    height: 80%;
    margin-top: 37px;
    border: 5px solid rgb(255, 0, 0);
}

.winnaars2 h2 {

    /* Text */
    text-align: center;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    background-color: azure;

    /* Vormgeving aanpasen */
    padding: 30px;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
}


.winnaars2 ul {  
    /* Text */
    font-size: 30px;
    list-style: none;
    color: gold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 69, 0.675);
    text-decoration: none;    
    text-align: left;

    /* Vormgeving aanpassem */
    margin-top: 38px;
    margin-bottom: 200px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 7px;
    border: 4px solid red;
}

.winnaars2 a {
    /* Text */
    text-decoration: none;
    color: gold;
    background-image: url(https://e0.365dm.com/21/03/2048x1152/skysports-max-verstappen-lewis-hamilton_5321802.jpg);
    background-size: 100%;
    text-decoration: dashed black;
    font-size: 20px;

    /* Vormgeving aanpasen */
    display: flex;
    justify-content: space-evenly;
    border: 5px solid red;
    margin: 28px;
}

.winnaars2 p {  
    /* Text */
    font-size: 45px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 69, 0.675);
    text-decoration: none;    
    text-align: left;

    /* Vormgeving aanpassem */
    margin-top: 80px;
    margin-bottom: 200px;
    margin-left: 20px;
    padding: 11px;
    border: 4px solid red;
}

.winnaars2 img {
    width: 35%;
    height: 80%;
    margin-top: 37px;
    border: 5px solid rgb(255, 0, 0);
}

.informatie2 h3 {

    /* Text */
    text-align: center;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    background-color: azure;

    /* Vormgeving aanpasen */
    padding: 30px;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
}

.informatie2 a {
    /* Text */
    text-decoration: none;
    color: gold;
    background-image: url(https://www.roadracingworld.com/wp-content/uploads/2020/08/Red-Bull-Ring_1597396110-e1597396165262.jpg);
    background-position: 100% 25%;
    text-decoration: dashed black;
    font-size: 20px;

    /* Vormgeving aanpasen */
    display: flex;
    justify-content: space-evenly;
    border: 5px solid red;
    margin: 28px;
}

.informatie2 p {  
    /* Text */
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 69, 0.675);
    text-decoration: none;    
    text-align: left;

    /* Vormgeving aanpassem */
    margin-top: 35px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 7px;
    border: 4px solid red;
    
}

/* 


PAGINA 3


*/
.main3 ul{
    background-color: black;
    border-top: 4px solid red;
    padding-top: 8px;
    padding-bottom: 8px;
}
/*

ITALIE

*/
.i2023 a {
    /* Text */
    text-decoration: none;
    color: gold;
    background-image: url(https://media.formula1.com/content/dam/fom-website/sutton/2022/EmiliaRomagna/Saturday/1393152291.jpg.img.1536.high.jpg);
    background-size: 100%;
    text-decoration: dashed black;
    font-size: 20px;

    /* Vormgeving aanpasen */
    display: flex;
    justify-content: space-evenly;
    border: 5px solid red;
    margin: 28px;
}

.i2023 p {  
    /* Text */
    font-size: 45px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 69, 0.675);
    text-decoration: none;    
    text-align: left;

    /* Vormgeving aanpassem */
    margin-top: 80px;
    margin-bottom: 200px;
    margin-left: 20px;
    padding: 11px;
    border: 4px solid red;
}

.i2023 img {
    width: 35%;
    height: 80%;
    margin-top: 37px;
    border: 5px solid rgb(255, 0, 0);
}

.winnaars3 h2 {

    /* Text */
    text-align: center;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    background-color: azure;

    /* Vormgeving aanpasen */
    padding: 30px;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
}

.winnaars3 ul {  
    /* Text */
    font-size: 30px;
    list-style: none;
    color: gold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 69, 0.675);
    text-decoration: none;    
    text-align: left;

    /* Vormgeving aanpassem */
    margin-top: 38px;
    margin-bottom: 200px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 7px;
    border: 4px solid red;
}

.winnaars3 a {
    /* Text */
    text-decoration: none;
    color: gold;
    background-image: url(https://cdn-2.motorsport.com/images/amp/Y99MW3PY/s6/charles-leclerc-ferrari-f1-75-.jpg);
    background-size: 100%;
    text-decoration: dashed black;
    font-size: 20px;

    /* Vormgeving aanpasen */
    display: flex;
    justify-content: space-evenly;
    border: 5px solid red;
    margin: 28px;
}

.winnaars3 p {  
    /* Text */
    font-size: 45px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 69, 0.675);
    text-decoration: none;    
    text-align: left;

    /* Vormgeving aanpassem */
    margin-top: 80px;
    margin-bottom: 200px;
    margin-left: 20px;
    padding: 11px;
    border: 4px solid red;
}

.winnaars3 img {
    width: 35%;
    height: 80%;
    margin-top: 37px;
    border: 5px solid rgb(255, 0, 0);
}

.informatie3 h3 {

    /* Text */
    text-align: center;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    background-color: azure;

    /* Vormgeving aanpasen */
    padding: 30px;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
}

.informatie3 a {
    /* Text */
    text-decoration: none;
    color: gold;
    background-image: url(https://media.formula1.com/image/upload/content/dam/fom-website/sutton/2022/Bahrain/Sunday/1386703905.jpg);
    background-size: 100%;
    text-decoration: dashed black;
    font-size: 20px;

    /* Vormgeving aanpasen */
    display: flex;
    justify-content: space-evenly;
    border: 5px solid red;
    margin: 28px;
}

.informatie3 p {  
    /* Text */
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 69, 0.675);
    text-decoration: none;    
    text-align: left;

    /* Vormgeving aanpassem */
    margin-top: 35px;
    margin-bottom: 200px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 7px;
    border: 4px solid red;
}
/*

FOOTER VAN ALLE PAGINA'S

*/
.bron a {

     /* Text */
    text-decoration: none;
    color: black;
    font-size: 10px;
    text-align: center;
    
    /* Vormgeving aanpasen */
    border: 1px solid black;
    margin: 1px;
    padding: 2px;  
}
.bron p {
    /* Text */
    color: rgb(247, 25, 25);
    font-style: oblique;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    text-align: center;

    /* Vormgeving aanpasen */
    margin-top: 5px;
    margin-bottom: 5px;
}

footer ul {
    /* Text */
    text-align: center;

    /* Vormgeving aanpassen */
    background-color: rgba(91, 91, 91, 0.3);
    border-bottom: 4px solid red;
    padding-bottom: 10px;

}

footer h3 {

    /* Text */
    text-align: center;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    background-color: azure;

    /* Vormgeving aanpasen */
    padding: 30px;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
}

footer h4{
    /* Text */
    color: rgb(247, 25, 25);
    text-align: center;
    font-style: oblique;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;

    /* Vormgeving aanpasen */
    margin-top: 15px;
    margin-bottom: 15px;
}









